{% extends "layout.html" %}

{% set pageTitle = "Files sent – Send your Personal Independence Payment documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v4/_header.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    	{{ govukPanel({
        titleText: "Files sent"
      }) }}
      </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-column-full #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p><a href="/v3/start">Use this service again</a> if you need to upload and send more documents.</p>

      <h2 class="govuk-heading-m">What happens next</h2>


      <p>You’ll get a confirmation email in the next hour. You might need to check your spam email folder.</p>

      <p>If you do not get the confirmation email in the next hour call the Personal Independence Payment enquiry line:</p>

      <div class="indent-hairline">
        {% include "v3/_contact.html" %}
      </div>

      <p><a class="govuk-link" href="feedback" target="_blank">What did you think of this service? (opens in new tab)</a> takes 30 seconds</p>

      <p><a class="govuk-link"href="https://getinvolved.dwp.gov.uk/digital/626599b1" target="_blank">Volunteer to take part in research to help improve this service (opens in new tab)</a></p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
