{% extends "layout.html" %}

{% set pageTitle = "Personal Independence Payment: Tell us how your health condition or disability affects you" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: &nbsp;,
    serviceUrl: "/",
    containerClasses: "notify-width-container-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

<div class="notify-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full sans">

      <p>Dear Sarah Smith,</p>

      <p>Thank you for starting your Personal Independence Payment (PIP) claim.</p>

      <p>We need to find out more information about your daily living and mobility needs to help us make our decision.</p>

      <h2 class="govuk-heading-m">What you need to do</h2>

      <p>Fill in the How your disability affects you form: <a href="#">[LINK TO DOCUMENT 1: INTERACTIVE PIP2 PDF FORM]</a></p>

      <p>Please open and save your form onto a computer, tablet or phone straightaway as this link will only work for 7 days.</p>

      <p>If the link has expired or you lose your documents, please call 0800 121 4433 or Textphone: 0800 121 4493 if you have speech or hearing difficulties and ask us to resend them to you.</p>

      <p>You can fill in the form on a computer, tablet or phone. You do not need to print it out. The form works best on a computer or tablet. More information about completing the form can be found in:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the How your disability affects you booklet <a href="#">[LINK TO DOCUMENT 2: INFORMATION BOOKLET]</a></li>
        <li>PIP additional information <a href="#">[LINK TO DOCUMENT 3: ADDITIONAL INFORMATION]</a></li>
        <li>a flyer that explains the types of supporting information you should send <a href="#">[LINK TO DOCUMENT 4: FLYER]</a></li>
      </ul>

      <p>Gather any supporting information that shows how your condition or disability affects you.</p>

      <p>Upload your completed form and any supporting information to <a href="#">[URL of service]</a> by [93 days from today’s date] or sooner if you can.</p>

      <p>If you do not upload the form back by this date we may end your PIP claim. If you currently get Disability Living Allowance this will stop.</p>


      <h2 class="govuk-heading-m">Get help</h2>

      <p>You can ask a friend, relative, carer, representative, or local support organisation to help you complete the form either over the phone or in person if they live with you or visit you for a medical reason or to provide care.</p>

      <p>Get help with filling in the form and providing supporting information: <a href="#">[LINK TO DOCUMENT 2: INFORMATION BOOKLET]</a></p>


      <h2 class="govuk-heading-m">Information to support your claim</h2>

      <p>Get help with the types of supporting information you should send: <a href="#">[LINK TO DOCUMENT 4: FLYER]</a></p>

      <p>You can watch a DWP video about providing information to support your claim: <a href="https://www.youtube.com/watch?v=KCMRGukO1TM&list=PLeysxjNpEPy8Y73-Ywm7OeAGjFc1Xc-It&index=3">https://www.youtube.com/watch?v=KCMRGukO1TM&list=PLeysxjNpEPy8Y73-Ywm7OeAGjFc1Xc-It&index=3</a></p>

      <p>Do not delay sending your form back if you are waiting for more supporting information.</p>

      <p>Only send us supporting information you have already.</p> 

      <p>Do not contact your GP or health professional to ask for new or additional information as they may charge you for this.</p>

      <p>Do not leave the house to collect supporting information or contact your doctor or hospital during the coronavirus (COVID-19) outbreak.</p>


      <h2 class="govuk-heading-m">What happens next</h2>

      <p>We may call you to check you have received this email and if you need any support.</p>

      <p>When you have returned your form, you will get an email or text message to confirm that we have received your form.</p>

      <p>Yours sincerely,</p>

      <p>Office Manager</p>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

</div>

{% endblock %}
{% block footer %}
{% endblock %}