// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

abbr {
  text-decoration: none;
}

.contents-list {
	li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
  }
  li:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
  }
}

.steps > li {
  background-repeat: no-repeat;
  background-position: left 10px;
  background-size: 35px 35px;
  padding: .75em 0 .75em 2.5em;
  margin-bottom: -20px !important;
}

.steps > li:nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E1%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E2%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E3%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(4) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E4%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(5) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E5%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(6) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E6%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(7) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E7%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(8) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E8%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(9) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E9%3C/text%3E%3C/svg%3E");
}
.steps > li:nth-child(10) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ccircle cx='125' cy='125' r='100' fill='black' /%3E%3Ctext x='50%25' y='50%25' text-anchor='middle' alignment-baseline='middle' font-family='sans-serif' font-size='100px' fill='white'%3E10%3C/text%3E%3C/svg%3E");
}

.indent-hairline {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.related-navigation li {
  margin-bottom: 15px;
}

.progress-container {
  background-image: url(/public/images/spinner.gif);
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
  padding-top: 40px;
  min-height: 400px;
}

.notes {
  background-color: #fff7bf;
  padding: 20px 20px 2px 20px;
  margin-bottom: 30px;
}


.card {
  border: 1px solid $govuk-border-colour;
  margin-bottom: 20px;
}

.card-head {
  padding: 1em;
  background-color: govuk-colour("light-grey");
}

.card-body {
  padding: 1em;
}

.responsive-image img {
  width: 100%;
  margin-bottom: govuk-spacing(2);
}

/* ==========================================================================
   #BANNER
   ========================================================================== */

.moj-banner {
  border: 5px solid govuk-colour("blue");
  color: govuk-colour("blue");
  font-size: 0; // Removes white space when using inline-block on child element.
  margin-bottom: govuk-spacing(6);
  padding: govuk-spacing(2);
}


.moj-banner__icon {
  fill: currentColor;
  float: left;
  margin-right: govuk-spacing(2);
}

.moj-banner__message {
  @include govuk-font($size: 19);
  color: govuk-colour("black");
  display: block;
  overflow: hidden;
}

.moj-banner__message h2 {
  margin-bottom: govuk-spacing(2);
}


.moj-banner__message h2:last-child,
.moj-banner__message p:last-child {
  margin-bottom: 0;
}


.moj-banner__assistive {
  @include govuk-visually-hidden;
}


/* Style variants
   ========================================================================== */

.moj-banner--success {
  border-color: govuk-colour("green");
  color: govuk-colour("green");
}


.moj-banner--warning {
  border-color: govuk-colour("red");
  color: govuk-colour("red");
}

.sans * {
  font-family: sans-serif !important;
}

.notify-width-container {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}

.notify-width-container-border {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  margin-bottom: -10px;
  padding-top: 10px;
  border-bottom: 10px solid #1d70b8;
}

// downloads


.attachment {
  position: relative;
  margin-top: 40px;
  padding: 15px 0 0 129px;
  clear: both;
}

.attachment-thumb img {
  display: block;
  width: 99px;
  height: 140px;
  background: #ffffff;
  outline: 5px solid rgba(11,12,12,0.1);
  box-shadow: 0 2px 2px rgba(11,12,12,0.4);
  position: relative;
  float: left;
  margin-top: 5px;
  margin-left: -124px;
  padding-bottom: 15px;
}

// MOJ multi-file upload


body {
  @include govuk-media-query($until: mobile) {
    background-color: red !important;
  }
}

.placeholder {
  background-color: #eee;
  padding: 80px;
  text-align: center;
  margin-bottom: govuk-spacing(2);
}

.redtext {
  color: govuk-colour("red");
}