{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName}} - GOV.UK
{% endblock %}

{% block header %}
  {% include "v1-serco/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v1/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1-serco/confirmation" method="post" novalidate>
      
        <h1 class="govuk-heading-l">Confirm their email address</h1>

        <p class="govuk-body-l">email-just-entered@gmail.com</p>

        <button class="govuk-button" data-module="govuk-button">
          This is correct, send the email
        </button>
        &nbsp;
        <a href="/v1-serco/index" class="govuk-button govuk-button--secondary" data-module="govuk-button">There’s a mistake, go back</a>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
