{% extends "layout.html" %}

{% set pageTitle = "Error - Claimant’s email address – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-serco/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v1/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/v1-serco/confirm-email" method="post" novalidate>

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#email">Enter an email address</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email">
              Claimant’s email address
            </label>
          </h1>
          <span id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an email address
          </span>
          <input class="govuk-input govuk-input--error" aria-describedby="email-error" id="email" name="email" type="email" autocomplete="off" spellcheck="false">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/v1-serco/confirm-email" method="post" novalidate>

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#email">Enter an email address in the correct format, like name@example.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email">
              Claimant’s email address
            </label>
          </h1>
          <span id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
          </span>
          <input class="govuk-input govuk-input--error" aria-describedby="email-error" id="email" name="email" type="email" autocomplete="off" spellcheck="false" value="phil.swan@myemailaddresscom">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% include "includes/_page-title.html" %}

{% endblock %}
