{% extends "layout.html" %}

{% set pageTitle = "Claimant’s email address – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-serco/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/v1-serco/confirm-email" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email">
              Claimant’s email address
            </label>
          </h1>
          <input class="govuk-input" id="email" name="email" type="email" autocomplete="off" spellcheck="false">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
