{% extends "layout.html" %}

{% set pageTitle = "Email not sent – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-serco/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Email not sent</h1>
      <p>The email could not be sent due to an error with the Notify service.</p>

      <p><a href="/v1-serco/index" class="govuk-button">Try again</a></p>

      <p>If you keep seeing this error, make a note of the claimant’s email address and email <a href="mailto:XXXX@XXXX.com?subject=Email a PIP2 form – Notify error&body=There is an issue with the ‘Email a PIP2 form and the Notify service">XXXX@XXXX.com</a>.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
{% block footer %}
{% endblock %}