{% extends "layout.html" %}

{% set pageTitle = "Files sent – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    	{{ govukPanel({
        titleText: "Files sent"
      }) }}

      <p><a href="/v2/start">Use this service again</a> if you need to upload and send more documents.</p>

      <h2 class="govuk-heading-m">What happens next</h2>


      <p>You’ll get a confirmation email within next hour. You may need to check your spam inbox.</p>

      <p>If you don’t get the confirmation email within hour call the PIP enquiry line:</p>

      <p>
        Telephone: 0800 121 4433<br>
        Textphone: 0800 121 4493
      </p>

      <p><a href="https://main.signvideo.me/app/8/10031">NGT text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433</p>

      <p><a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (BSL) users - check you can use the service.</p>

      <p>Monday to Friday, 9am to 5pm.</p>

      <p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

    </div>{# /govuk-grid-column-two-thirds #}
    
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
