{% extends "layout.html" %}

{% set pageTitle = "Files sent – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

    	{{ govukPanel({
        titleText: "Files sent"
      }) }}

      <p><a href="/v2/start">Use this service again</a> if you need to upload and send more documents.</p>

      <h2 class="govuk-heading-m">What happens next</h2>


      <p>You’ll get a confirmation email within next hour. You may need to check your spam email folder.</p>

      <p>If you do not get the confirmation email within hour call the PIP enquiry line:</p>

      <div class="contact indent-hairline">
        <p><strong><abbr title="Department for Work and Pensions">DWP</abbr> - <abbr title="Personal Independence Payment">PIP</abbr> claims</strong><br>
        Telephone: 0800 917 2222<br>
        Textphone: 0800 917 7777<br>
        <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
        <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
        Calling from abroad: +44 191 218 7766 <br>
        Monday to Friday, 9am to 5pm<br>
        <a href="/call-charges">Find out about call charges</a></p>
      </div>


    </div>{# /govuk-grid-column-two-thirds #}
    
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
