{% extends "layout.html" %}

{% set pageTitle = "Error – Upload your files – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <ul class="govuk-list govuk-list--bullet">
        <li>
          If no file has been selected:<br>
          <strong class="redtext">Select a file</strong>
        </li>
        <li>
          If the file is the wrong file type: [waiting for confirmation from Mike and Steve but use this a placeholder…]<br>
          <strong class="redtext">The selected file must be a PDF, JPG, BMP or PNG (might also need file formats to suport the accessible Word version)</strong>
        </li>
        <li>
          If there is only one file and it’s too big:<br>
          <strong class="redtext">The selected file must be smaller than 10MB</strong>
        </li>
        <li>
          If there is more than one file and the combined size is too big:<br>
          <strong class="redtext">The combined size of the selected files must be smaller than 10MB</strong>
        </li>
        <li>
          If there was an unknown problem and the file was not uploaded:<br>
          <strong class="redtext">The selected file could not be uploaded – try again</strong>
        </li>
        <li>
          If the file contains a virus [can it detect this?]:<br>
          <strong class="redtext">The selected file contains a virus</strong>
        </li>
        <li>
          If the file is password protected [can it detect this?]:<br>
          <strong class="redtext">The selected file is password protected</strong>
        </li>
        <li>
          If there is a limit on how many files the user can select [Is there a limit?]:<br>
          <strong class="redtext">You can only select up to xx files at the same time</strong>
        </li>

      </ul>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}