{% extends "layout.html" %}

{% set pageTitle = "How to take a photo of your evidence – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How to take a photo of your evidence</h1>
{#       <div class="responsive-image">
        <img src="/public/images/guideline-photo.jpg" alt="Examples of good and bad photos of a evidence">
      </div> #}

      <p>Make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>you’re in a well lit place</li>
        <li>all of the document is in the image</li>
        <li>you take the photo from above and not at an angle</li>
        <li>the photo is not blurred</li>
      </ul>

      <a href="/v2/upload" class="govuk-button" data-module="govuk-button">Continue to upload</a>

    </div>{# /govuk-grid-column-two-thirds #}

    {% include "v2/_contact-sidebar.html" %}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
