{% extends "layout.html" %}

{% set pageTitle = "Upload your files – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload your files</h1>

      <p>File types accepted are Word, PDF, JPG, BMP, PNG and TIF.</p>

      <p>The combined size of all your files must be less than 10 MB.</p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Guidance if your files are too big
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>If the combined size of the files you upload is bigger than 10MB you’ll see a message saying they cannot be sent. </p> 
          <p>If a single file is bigger than 10MB, reduce the file size if you can and try again.</p>
          <p>If the combined size of more than one file is bigger than 10MB, try sending fewer files. Use the service again to send any remaining files.</p>
          <p>If you still cannot upload and send your files, you can post them instead. Make sure your name and National Insurance number is on at least one of the documents and post them to:</p>
          <p>Address line 1<br>
          Address line 2<br>
          Town<br>
          Postcode</p>
        </div>
      </details>

      <div class="placeholder">
        <p>Suggested that we use the <a href="https://moj-design-system.herokuapp.com/components/multi-file-upload">MOJ multi file upload component</a></p>
        <p><a href="/v2/errors-upload">Suggested error messages</a></p>
      </div>
      <br>

      <a href="/v2/confirmation" class="govuk-button" data-module="govuk-button">Send these files</a>

      {% include "v2/_contact-reveal.html" %}
     
    </div>{# /govuk-grid-column-two-thirds #}
    
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
