{% extends "layout.html" %}

{% set pageTitle = "Upload your files – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Upload your files</h1>

      <div class="placeholder">
        <p>Suggested that we use the <a href="https://moj-design-system.herokuapp.com/components/multi-file-upload">MOJ multi file upload component</a></p>
        <p><a href="/v2/errors-upload">Suggested error messages</a></p>
      </div>

      <a href="/v2/confirmation" class="govuk-button" data-module="govuk-button">Send these files</a>
     
    </div>{# /govuk-grid-column-two-thirds #}

    {% include "v2/_contact-sidebar.html" %}
    
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
