{% extends "layout.html" %}

{% set pageTitle = "Error – Upload your files – Send your PIP documents – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v2/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "v2/_banner.html" %}
  {% include "v2/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>
        If no file has been selected:
      </p>

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a file",
            href: "#"
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>
        If the file is the wrong file type:
      </p>

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The selected file must be a Word document, PDF, JPG, BMP, PNG or TIF",
            href: "#"
          }
        ]
      }) }}

      <p>Waiting for confirmation from Mike and Steve on file formats. We might need to support the accessible Word version soon.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>
        If there is only one file and it’s too big:
      </p>

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The selected file must be smaller than 10MB",
            href: "#"
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      
      <p>
        If there was an unknown problem and the file was not uploaded:
      </p>

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The selected file could not be uploaded – try again",
            href: "#"
          }
        ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p>
        If there is more than one file and the combined size is too big:<br>
      </p>

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "The combined size of the selected files must be smaller than 10MB",
            href: "#"
          }
        ]
      }) }}

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}