{% extends "layout.html" %}

{% set pageTitle = "Page not found – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-agent/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page not found</h1>
      <p>If you typed the web address, check it is correct.</p>
      <p>If you pasted the web address, check you copied the entire address.</p>
      <p>
        If the web address is correct or you selected a link or button, <a href="https://www.gov.uk/pip/change-of-circumstances">contact the PIP enquiry line</a> if you need to speak to someone about your tax credits.
      </p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}