{% extends "layout.html" %}

{% set pageTitle = "Email sent – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-agent/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukPanel({
        titleText: "Email sent to",
        html: "email-just-entered@gmail.com"
      }) }}

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>If possible, check the claimant has received the email. It can sometimes take a few minutes to arrive.</p>

      <p>Tell them to call XXXXXX if they do not receive it within XX days/hours.</p>

      <p><a href="index" class="govuk-button" data-module="govuk-button">Next claimant</a></p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}

{% block footer %}
{% endblock %}