{% extends "layout.html" %}

{% set pageTitle = "Claimant’s details – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-agent/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Claimant’s details</h1>

      <form action="/v1-agent/confirm-details" method="post" novalidate>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <input class="govuk-input" id="email" name="email" type="email" autocomplete="off" spellcheck="false">
        </div>
       
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% include "includes/_page-title.html" %}

{% endblock %}

{% block footer %}
{% endblock %}