{% extends "layout.html" %}

{% set pageTitle = "Error - Claimant’s details – Email a PIP2 form" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "v1-agent/_header.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Claimant’s details</h1>

      <form action="#" method="post" novalidate>

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#full-name">Enter an name</a>
              </li>
              <li>
                <a href="#email">Enter an email address</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <span id="name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter a name
          </span>
          <input class="govuk-input govuk-input--error" id="full-name" aria-describedby="name-error"  name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <span id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an email address
          </span>
          <input class="govuk-input govuk-input--error" aria-describedby="email-error" id="email" name="email" type="email" autocomplete="off" spellcheck="false">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Claimant’s details</h1>

      <form action="#" method="post" novalidate>

        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#email">Enter an email address in the correct format, like name@example.com</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="full-name">
            Full name
          </label>
          <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="email">
            Email address
          </label>
          <span id="email-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
          </span>
          <input class="govuk-input govuk-input--error" aria-describedby="email-error" id="email" name="email" type="email" autocomplete="off" spellcheck="false" value="davesmith@gmailcom">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </form>
      
    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  {% include "includes/_page-title.html" %}

{% endblock %}

{% block footer %}
{% endblock %}
