<h1 class="govuk-heading-l govuk-!-font-size-27">Change of circumstances</h1>

<p>You must contact the <abbr title="Personal Independence Payment">PIP</abbr> enquiry line if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your personal details change, for example your name, address or doctor</li>
  <li>the help you need or your condition changes</li>
  <li>your condition has worsened and you’re not expected to live more than 6 months</li>
  <li>you go into hospital or a care home</li>
  <li>you go abroad</li>
  <li>you’re imprisoned or held in detention</li>
</ul>

{{ govukWarningText({
  text: "You could be taken to court or have to pay a penalty if you give wrong information or do not report a change in your circumstances.",
  iconFallbackText: "Warning"
}) }}

<h2 class="govuk-heading-m" id="how-to-report-a-change-of-circumstances">How to report a change of circumstances</h2>

<p>Contact the <abbr title="Personal Independence Payment">PIP</abbr> enquiry line to report a change of circumstances.</p>

<div class="indent-hairline">
  <p><strong><abbr title="Personal Independence Payment">PIP</abbr> enquiry line</strong><br>
  Telephone: 0800 121 4433<br>
  Textphone: 0800 121 4493<br>
  <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433 <br>
  <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (BSL) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
  Monday to Friday, 8am to 7.30pm<br>
  <a href="/call-charges">Find out about call charges</a></p>
</div>