<h1 class="govuk-heading-l govuk-!-font-size-27">Claiming PIP if you're terminally ill</h1>

<p>You can get <abbr title="Personal Independence Payment">PIP</abbr> more quickly if you’re terminally ill.</p>

<p>You can claim <abbr title="Personal Independence Payment">PIP</abbr> if:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your doctor or a medical professional has said you might have less than 6 months to live</li>
  <li>you are aged 16 or over and usually have not reached <a href="/state-pension-age">State Pension age</a>
</li>
</ul>

<h2 class="govuk-heading-m" id="how-to-claim">How to claim</h2>

<p>You can claim for yourself or someone else can do it for you.</p>

<p>Call <abbr title="Department for Work and Pensions">DWP</abbr> to start your <abbr title="Personal Independence Payment">PIP</abbr> claim. Ask a doctor or other healthcare professional for form DS1500. They’ll either fill it in and give the form to you or send it directly to <abbr title="Department for Work and Pensions">DWP</abbr>.</p>

<p>You will not need to go to a face-to-face consultation.</p>

<div class="indent-hairline">
  <p><strong><abbr title="Department for Work and Pensions">DWP</abbr> - <abbr title="Personal Independence Payment">PIP</abbr> claims</strong><br>
  Telephone: 0800 917 2222<br>
  Textphone: 0800 917 7777<br>
  <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
  <a href="https://main.signvideo.me/app/8/10033">Video relay service (terminal illness)</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
  Calling from abroad: +44 191 218 7766 <br>
  Monday to Friday, 8am to 7.30pm<br>
  <a href="/call-charges">Find out about call charges</a></p>
</div>

<div class="govuk-inset-text">
  <p>You may be able to get other <a href="/benefits-if-youre-terminally-ill">benefits if you’re terminally ill</a>.</p>
</div>