<h1 class="govuk-heading-l govuk-!-font-size-27">Eligibility</h1>
      
<div class="gem-c-govspeak govuk-govspeak direction-ltr disable-youtube" data-module="govspeak">
      <p>You can get <abbr title="Personal Independence Payment">PIP</abbr> whether you’re working or not.</p>

<p>You must be aged 16 or over and usually have not reached <a href="/state-pension-age">State Pension age</a> to claim.</p>

<p>You must also have a <a href="/definition-of-disability-under-equality-act-2010">health condition or disability</a> where you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>have had difficulties with daily living or getting around (or both) for 3 months</li>
  <li>expect these difficulties to continue for at least 9 months</li>
</ul>

<p>You usually need to have lived in England, Scotland or Wales for at least 2 of the last 3 years, and be in one of these countries when you apply. If you’ve recently returned from living in an <a href="/eu-eea"><abbr title="European Economic Area">EEA</abbr> country</a>, you might be able to get <abbr title="Personal Independence Payment">PIP</abbr> sooner.</p>

<p>There are <a href="/pip/claiming-pip-if-youre-terminally-ill">different rules if you’re terminally ill</a>.</p>

<p>You cannot get <abbr title="Personal Independence Payment">PIP</abbr> and <a href="/claim-for-injury-received-while-serving/armed-forces-independence-payment-afip">Armed Forces Independence Payment</a> at the same time.</p>


<div class="govuk-inset-text">
  <p>The process is different in <a rel="external" href="https://www.nidirect.gov.uk/articles/personal-independence-payment">Northern Ireland</a>.</p>
</div>

<h2 class="govuk-heading-m" id="if-youve-reached-state-pension-age">If you’ve reached State Pension age</h2>

<p>You can get <abbr title="Personal Independence Payment">PIP</abbr> if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>were already getting <abbr title="Personal Independence Payment">PIP</abbr> before you reached State Pension age and your condition hasn’t changed</li>
  <li>have been claiming Disability Living Allowance (DLA) and you’ve had a letter inviting you to apply for <abbr title="Personal Independence Payment">PIP</abbr>
  </li>
</ul>

<p>You may get <abbr title="Personal Independence Payment">PIP</abbr> if you previously got it and you were still entitled to it within the last year.</p>

<p>If you cannot get <abbr title="Personal Independence Payment">PIP</abbr>, you can apply for <a href="/attendance-allowance">Attendance Allowance</a> instead.</p>

<h2 class="govuk-heading-m" id="living-abroad">Living abroad</h2>

<p>You might still be able to get <abbr title="Personal Independence Payment">PIP</abbr> if you:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>live in an <a href="/claim-benefits-abroad/illness-injury-and-disability-benefits">EU or <abbr title="European Economic Area">EEA</abbr> country or Switzerland</a> - you can only get help with daily living needs</li>
  <li>are a member or family member of the Armed Forces</li>
</ul>

<h2 class="govuk-heading-m" id="if-youre-not-a-british-citizen">If you’re not a British citizen</h2>

<p>You must:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>normally live in or show that you intend to settle in the UK, Ireland, the Isle of Man or the Channel Islands</li>
  <li>not be subject to <a rel="external" href="https://www.citizensadvice.org.uk/immigration/non-eea-nationals-and-the-habitual-residence-test/are-you-subject-to-immigration-control/">immigration control</a> (unless you’re a sponsored immigrant)</li>
</ul>

<p>You might still be able to get <abbr title="Personal Independence Payment">PIP</abbr> if you are a refugee or have humanitarian protection status.</p>

<h2 class="govuk-heading-m" id="daily-living-difficulties">Daily living difficulties</h2>

<p>You may get the <a href="/pip/what-youll-get">daily living part</a> of <abbr title="Personal Independence Payment">PIP</abbr> if you need help more than half of the time with things like:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>preparing or eating food</li>
  <li>washing, bathing and using the toilet</li>
  <li>dressing and undressing</li>
  <li>reading and communicating</li>
  <li>managing your medicines or treatments</li>
  <li>making decisions about money</li>
  <li>engaging with other people</li>
</ul>

<h2 class="govuk-heading-m" id="mobility-difficulties">Mobility difficulties</h2>

<p>You may get the <a href="/pip/what-youll-get">mobility part</a> of <abbr title="Personal Independence Payment">PIP</abbr> if you need help going out or moving around.</p>

<h2 class="govuk-heading-m" id="how-youre-assessed">How you’re assessed</h2>

<p><a href="/pip/how-to-claim">You’ll be assessed</a> by an independent healthcare professional to help <abbr title="Department for Work and Pensions">DWP</abbr> work out the level of help you need.</p>


</div>


