<h1 class="govuk-heading-l">How to claim</h1>

<p>You can make a new Personal Independence Payment (PIP) claim by calling the Department for Work and Pensions (DWP).</p>

<p>Someone else can call on your behalf, but you’ll need to be with them when they call. There are also other ways to claim if you find it difficult to use a telephone.</p>

<p>There is a <a href="#">different way to claim if you’re terminally ill</a>.</p>

<div class="govuk-inset-text">
  <p>The process is different in <a href="#">Northern Ireland</a>.</p>
</div>

<h2 class="govuk-heading-m">Claim by telephone or textphone</h2>

<p>Before you call, you’ll need:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your contact details, for example telephone number</li>
  <li>your date of birth</li>
  <li>your National Insurance number - this is on letters about tax, pensions and benefits</li>
  <li>your bank or building society account number and sort code</li>
  <li>your doctor or health worker’s name, address and telephone number</li>
  <li>dates and addresses for any time you’ve spent abroad, in a care home or hospital</li>
</ul>

<div class="indent-hairline">
  <p><strong><abbr title="Department for Work and Pensions">DWP</abbr> - <abbr title="Personal Independence Payment">PIP</abbr> claims</strong><br>
  Telephone: 0800 917 2222<br>
  Textphone: 0800 917 7777<br>
  <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
  <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check you can use the service</a><br>
  Calling from abroad: +44 191 218 7766 <br>
  Monday to Friday, 8am to 7.30pm<br>
  <a href="/call-charges">Find out about call charges</a></p>
</div>

<h2 class="govuk-heading-m">Claim by post</h2>

<p>You can get a form to send information by post (although this can delay the decision on your claim). Write a letter to ask for the form.</p>

<div class="indent-hairline">
  <div class="adr org fn">
    <p>
      Personal Independence Payment New Claims  
      <br>Post Handling Site B  
      <br>Wolverhampton  
      <br>WV99 1AH  
      <br>
    </p>
  </div>
</div>

<h2 class="govuk-heading-m">What happens next</h2>

<div class="govuk-inset-text">
  <p>If you have a face-to-face meeting booked, you do not need to go to it at the moment because of coronavirus (COVID-19). <abbr title="Department for Work and Pensions">DWP</abbr> will contact you to let you know what you need to do instead.</p>
</div>

<ol class="govuk-list steps">
  <li>
    <p>You’ll be sent a ‘How your disability affects you’ form. Call the <abbr title="Personal Independence Payment">PIP</abbr> <a href="/pip/change-of-circumstances">enquiry line</a> if you need it in an alternative format such as braille, large print or audio CD.</p>
  </li>
  <li>
    <p>Fill in the form using the notes that come with it to help you. You can also read Citizens Advice’s <a rel="external" href="https://www.citizensadvice.org.uk/benefits/sick-or-disabled-people-and-carers/pip/help-with-your-claim/fill-in-form/">help on filling in the form</a>.</p>
  </li>
  <li>
    <p>Return the form to <abbr title="Department for Work and Pensions">DWP</abbr> - the address is on the form.</p>
  </li>
  <li>
    <p>To assess the level of help you need, an independent health professional will either invite you to a meeting or ask your health or social care worker for information.</p>
  </li>
  <li>
    <p>If you’re invited to a meeting, you’ll be asked questions about your ability to carry out activities and how your condition affects your daily life. The meeting can be either at your home or at an assessment centre, and will take about an hour. You can read Citizens Advice’s <a rel="external" href="https://www.citizensadvice.org.uk/benefits/sick-or-disabled-people-and-carers/pip/help-with-your-claim/your-assessment/">help on preparing for an assessment</a>.</p>
  </li>
  <li>
    <p>You’ll get a letter that tells you whether you’ll get <abbr title="Personal Independence Payment">PIP</abbr>. If you do, you’ll be told how much you’ll get, when you’ll be paid and the date your <abbr title="Personal Independence Payment">PIP</abbr> will be reviewed so that you continue to get the right support.</p>
  </li>
</ol>

<div class="govuk-inset-text">
  <p>You cannot apply using any Disability Living Allowance (<abbr title="Disability Living Allowance">DLA</abbr>) forms you may have.</p>
</div>

<h2 class="govuk-heading-m">If you disagree with a decision</h2>

<p>You can <a href="/mandatory-reconsideration">challenge a decision</a> about your claim. This is called asking for ‘mandatory reconsideration’.</p>