<h1 class="govuk-heading-l">If your PIP claim is reviewed</h1>

<p>The letter you got when your Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) was approved will tell you when your claim will end and if it will be reviewed.</p>

<p>If your claim is going to be reviewed, the letter will tell you when you’ll be contacted about the review.</p>

<h2 class="govuk-heading-m">How <abbr title="Personal Independence Payment">PIP</abbr> reviews work</h2>

<div class="govuk-inset-text">
  <p>If you have a face-to-face meeting booked, you do not need to go to it at the moment because of coronavirus (COVID-19). The Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) will contact you to let you know what you need to do instead.</p>
</div>

<ol class="govuk-list steps">
  <li>
    <p>You’ll get a letter asking you to fill in a form called ‘Award review - how your disability affects you’.</p>
  </li>
  <li>
    <p>Fill in the form using the notes that come with it.</p>
  </li>
  <li>
    <p>Send the form and any supporting information you have not shared with <abbr title="Department for Work and Pensions">DWP</abbr> before  - the form explains what to include and where to send it.</p>
  </li>
  <li>
    <p><abbr title="Department for Work and Pensions">DWP</abbr> will review your form. You might be asked to go to a face-to-face meeting with an independent health professional to discuss how your condition affects your daily life.</p>
  </li>
  <li>
    <p>You’ll get a letter that tells you what will happen with your <abbr title="Personal Independence Payment">PIP</abbr>. If your needs have changed, your <abbr title="Personal Independence Payment">PIP</abbr> might be increased, reduced or stopped.</p>
  </li>
</ol>

<h2 class="govuk-heading-m" id="if-you-disagree-with-a-decision">If you disagree with a decision</h2>

<p>You can <a href="/mandatory-reconsideration">challenge a decision</a> about your claim. This is called asking for mandatory reconsideration.</p>