<h1 class="govuk-heading-l">Overview</h1>

<p>Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) can help you with some of the extra costs if you have a long term ill-health or disability.</p>

<div class="govuk-inset-text">
  <p>This guide is also available <a href="/taliad-annibyniaeth-personol-pip">in Welsh (Cymraeg)</a>.</p>
</div>

<p>You could get between <a href="/pip/what-youll-get">£23.20 and £148.85 a week</a> if you’re aged 16 or over and have not reached <a href="/state-pension-age">State Pension age</a>.</p>

<p>The amount you get depends on how your condition affects you, not the condition itself.</p>

<p><a href="/pip/how-to-claim">You’ll be assessed</a> by a health professional to work out the level of help you can get. <a href="/pip/when-your-pip-claim-is-reviewed">Your rate will be regularly reviewed</a> to make sure you’re getting the right support.</p>

<div class="govuk-inset-text">
  <p>Your carer could get <a href="/carers-allowance">Carer’s Allowance</a> if you have substantial caring needs.</p>
</div>

<h1 class="govuk-heading-m">If you get Disability Living Allowance</h2>

<p><a href="/dla-disability-living-allowance-benefit">Disability Living Allowance (<abbr title="Disability Living Allowance">DLA</abbr>)</a> is ending for people aged 16 to 64.</p>

<p>You can keep getting <abbr title="Disability Living Allowance">DLA</abbr> if <a href="/disability-living-allowance-children">you’re under 16</a> or you were born on or before 8 April 1948 and have an existing claim.</p>

<p>You’ll continue getting <abbr title="Disability Living Allowance">DLA</abbr> until the Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) invites you to apply for <abbr title="Personal Independence Payment">PIP</abbr>. You do not need to do anything until <abbr title="Department for Work and Pensions">DWP</abbr> writes to you about your <abbr title="Disability Living Allowance">DLA</abbr> unless your circumstances change.</p>

<p>If you’ve reached <a href="/state-pension-age">State Pension age</a>, you can apply for <a href="/attendance-allowance">Attendance Allowance</a>.</p>

<h1 class="govuk-heading-m">Help with <abbr title="Personal Independence Payment">PIP</abbr></h2>

<p>You can contact a <a href="/find-a-community-support-group-or-organisation">local support organisation</a> or <a rel="external" href="https://www.citizensadvice.org.uk/benefits/sick-or-disabled-people-and-carers/pip/">Citizens Advice</a> to get help understanding <abbr title="Personal Independence Payment">PIP</abbr>.</p>