{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="gem-c-contextual-breadcrumbs">
  <div class="gem-c-breadcrumbs govuk-breadcrumbs gem-c-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="homeLinkClicked" data-track-action="homeBreadcrumb" data-track-label="" data-track-options="{}" class="govuk-breadcrumbs__link" aria-current="false" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/benefits" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Benefits&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/browse/benefits">Benefits</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="false">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/benefits/disability" data-track-options="{&quot;dimension28&quot;:&quot;3&quot;,&quot;dimension29&quot;:&quot;Carers and disability benefits&quot;}" class="govuk-breadcrumbs__link" aria-current="false" href="/browse/benefits/disability">Carers and disability benefits</a>
      </li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Personal Independence Payment (PIP)
      </h1>

      <aside class="part-navigation-container" role="complementary">
        <nav class="contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="gem-c-contents-list__title govuk-body-s govuk-!-margin-bottom-2">Contents</h2>
          <ol class="govuk-list govuk-!-font-size-16">
            <li><a href="#">Overview</a></li>
            <li><a href="#">Eligibility</a></li>
            <li><a href="#">What you’ll get</a></li>
            <li>How to claim</li>
            <li><a href="#">If your PIP claim is reviewed</a></li>
            <li><a href="#">Change of circumstances</a></li>
            <li><a href="#">Claiming PIP if you're terminally ill</a></li>
          </ol>
        </nav>
      </aside>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h1 class="govuk-heading-l">If your PIP claim is reviewed</h1>

      <p>The letter you got when your Personal Independence Payment (<abbr title="Personal Independence Payment">PIP</abbr>) was approved will tell you when your claim will end and if it will be reviewed.</p>

      <p>If your claim is going to be reviewed, the letter will tell you when you’ll be contacted about the review.</p>

      <h2 class="govuk-heading-m">How <abbr title="Personal Independence Payment">PIP</abbr> reviews work</h2>

      <div class="govuk-inset-text">
        <p>If you have a face-to-face meeting booked, you do not need to go to it at the moment because of coronavirus (COVID-19). The Department for Work and Pensions (<abbr title="Department for Work and Pensions">DWP</abbr>) will contact you to let you know what you need to do instead.</p>
      </div>

      <ol class="govuk-list steps">
        <li>
          <p>You’ll get a letter asking you to fill in a form called ‘Award review - how your disability affects you’.</p>
        </li>
        <li>
          <p>Fill in the form using the notes that come with it.</p>
        </li>
        <li>
          <p>Send the form and any supporting information you have not shared with <abbr title="Department for Work and Pensions">DWP</abbr> before  - the form explains what to include and where to send it.</p>
        </li>
        <li>
          <p><abbr title="Department for Work and Pensions">DWP</abbr> will review your form. You might be asked to go to a face-to-face meeting with an independent health professional to discuss how your condition affects your daily life.</p>
        </li>
        <li>
          <p>You’ll get a letter that tells you what will happen with your <abbr title="Personal Independence Payment">PIP</abbr>. If your needs have changed, your <abbr title="Personal Independence Payment">PIP</abbr> might be increased, reduced or stopped.</p>
        </li>
      </ol>

      <h2 class="govuk-heading-m" id="if-you-disagree-with-a-decision">If you disagree with a decision</h2>

      <p>You can <a href="/mandatory-reconsideration">challenge a decision</a> about your claim. This is called asking for mandatory reconsideration.</p>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
