{% extends "layout.html" %}

{% set pageTitle = "How to take a photo of your evidence – Send your PIP form – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "/v1/supporting-evidence"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How to take a photo of your evidence</h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p>Make sure:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you’re in a well lit place</li>
            <li>all of the document is in the image</li>
            <li>you take the photo from above and not at an angle</li>
          </ul>
          <p><a href="#">Get more help to get your photo right</a></p>
        </div>{# /govuk-grid-column-one-half #}

        <div class="govuk-grid-column-one-half">
          <p><img src="/public/images/guideline-photo.jpg" class="responsive-image" alt="Examples of good and bad photos of a evidence"></p>
        </div>{# /govuk-grid-column-one-half #}

      </div>{# /govuk-grid-row #}

      {% if getData.uploaded === '3' %}
        <a href="supporting-evidence-uploaded-3" class="govuk-button" data-module="govuk-button">Continue to upload</a>
      {% elif getData.uploaded === '2' %}
        <a href="supporting-evidence-uploaded-2" class="govuk-button" data-module="govuk-button">Continue to upload</a>
      {% elif getData.uploaded === '1' %}
        <a href="supporting-evidence-uploaded-1" class="govuk-button" data-module="govuk-button">Continue to upload</a>
      {% else %}
        <a href="supporting-evidence-upload-1" class="govuk-button" data-module="govuk-button">Continue to upload</a>
      {% endif %}

    </div>{# /govuk-grid-column-two-thirds #}

    {% include "v1/_upload-sidebar.html" %}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
