{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName}} - GOV.UK
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "v1/_work-in-progress.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "/v1/supporting-evidence-upload-1"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/v1/supporting-evidence-uploaded-1-data" method="post" novalidate>

        <h1 class="govuk-heading-l">Uploaded evidence</h1>

        <h2 class="govuk-heading-m">Files added</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              File 1
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="/">filenamewouldbehere.jpg</a>, 2MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> file 1</span>
              </a>
            </dd>
          </div>
  {#         <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              File 2
            </dt>
            <dd class="govuk-summary-list__value">
              <a download href="/">receipt2.jpg</a>, 5MB
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Delete<span class="govuk-visually-hidden"> file 2</span>
              </a>
            </dd>
          </div> #}
        </dl>

        <div class="govuk-form-group">

          <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Do you want to upload another evidence file?
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="yes" name="question" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="yes">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="no" name="question" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="no">
                No
              </label>
            </div>
          </div>

          </fieldset>
        </div>{# /govuk-form-group #}

        <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
        </button> 

      </form>

    </div>{# /govuk-grid-column-two-thirds #}

    {% include "v1/_upload-sidebar.html" %}

  </div>{# /govuk-grid-row #}

{% endblock %}
