{% extends "layout.html" %}

{% set pageTitle = "Upload evidence – Send your PIP form – GOV.UK" %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/_work-in-progress.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "/v1/interruption-screen"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/v1/uploading?type=supporting-evidence"novalidate>
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload your first piece of evidence
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>
        </fieldset>
{#         <button class="govuk-button" data-module="govuk-button" data-prevent-double-click="true" >
          Continue
        </button> #}

        <a href="uploading?type=supporting-evidence" class="govuk-button" data-module="govuk-button">Continue</a>
        
      </form>

    </div>{# /govuk-grid-column-two-thirds #}

    {% include "v1/_upload-sidebar.html" %}

  </div>{# /govuk-grid-row #}

  {% include "includes/_page-title.html" %}

{% endblock %}
