{% extends "layout.html" %}

{% block pageTitle %}
  Designs for a tactical PIP solution
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Designs for a tactical PIP solution</h1>
      <p>Help operational staff effectively process PIP claims when demand increases.</p>

      <div style="margin-top: 10px; background-color: #F6D7D2; padding: 10px;">
        <p style="margin-bottom: 30px; text-align: center;" class="govuk-body">These screens are still being designed and are likely to change</p>
      </div>

      <div class="card">
        <div class="card-head">
          <h2 class="govuk-heading-m govuk-!-margin-0">Serco agent screens</h2>
        </div>{# /card-header #}
        <div class="card-body">
          <h3 class="govuk-heading-m">Email a PIP2 form</h3>
          <h4 class="govuk-heading-s">Communication with claimant</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>Script</li>
          </ul>
          <h4 class="govuk-heading-s">Happy path</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v1-serco/index">Start</a></li>
            <li><a href="/v1-serco/confirm-email">Confirm email address</a></li>
            <li><a href="/v1-serco/confirmation">Confirmation page</a></li>
          </ul>
          <h4 class="govuk-heading-s">Errors</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v1-serco/email-errors">Email address errors</a></li>
          </ul>
        </div>{# /card-body #}
      </div>{# /card #}

      <div class="card">
        <div class="card-head">
          <h2 class="govuk-heading-m govuk-!-margin-0">Claimant screens</h2>
        </div>{# /card-header #}
        <div class="card-body">
          <h3 class="govuk-heading-m">Send your PIP form</h3>
          <h4 class="govuk-heading-s">Happy path</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v0/start">Start – basic journey without evidence upload</a></li>
            <li><a href="/v1/start">Start – with evidence upload</a></li>
{#             <li><a href="/v1/upload">Upload</a></li>
            <li><a href="/v1/uploading">Uploading</a></li>
            <li><a href="/v1/notifications">Notifications</a></li>
            <li><a href="/v1/confirmation">Confirmation page</a></li> #}
          </ul>
          <h4 class="govuk-heading-s">Errors</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v1/service-unavailable">Service unavailable</a></li>
            <li><a href="/v1/time-out">Session expired</a></li>
            <li><a href="/v1/404">Page not found</a></li>
            <li><a href="/v1/upload-errors">Upload error messages</a></li>
            <li>Notifications error messages</li>
          </ul>
          <h4 class="govuk-heading-s">Communication with the claimant</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="/v1-communication/pip2-email">PIP2 Email</a></li>
            <li><a href="/v1-communication/confirmation">Email and SMS confirmation message</a></li>
            <li><a href="/v1-communication/drs-sms">DRS SMS</a></li>
          </ul>
        </div>{# /card-body #}
      </div>{# /card #}

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

{% block footer %}
{% endblock %}