{% extends "layout.html" %}

{% block pageTitle %}
  Designs for a tactical PIP solution
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Designs for a tactical PIP solution</h1>
      <p>Help operational staff effectively process PIP claims when demand increases.</p>
      <h1 class="govuk-heading-m">Version 1</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1/gov-uk">GOV.UK apply page</a></li>
      </ul>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

{% block footer %}
{% endblock %}