{% extends "layout.html" %}

{% block pageTitle %}
  Designs for a tactical PIP solution
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Designs for a tactical PIP solution</h1>
      <p>Help operational staff effectively process PIP claims when demand increases.</p>
      <h1 class="govuk-heading-m">Version 1</h2>
      <h2 class="govuk-heading-s">GOV.UK (no changes)</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1/gov-uk?page=overview">GOV.UK screens</a></li>
      </ul>
      <h2 class="govuk-heading-s">Service happy path</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1/start">Start</a></li>
        <li><a href="/v1/upload">Upload</a></li>
        <li><a href="/v1/uploading">Uploading</a></li>
        <li><a href="/v1/notifications">Notifications</a></li>
        <li><a href="/v1/confirmation">Confirmation page</a></li>
      </ul>
      <h2 class="govuk-heading-s">Errors</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/v1/service-unavailable">Service unavailable</a></li>
        <li><a href="/v1/time-out">Session expired</a></li>
        <li><a href="/v1/404">Page not found</a></li>
        <li><a href="/v1/upload-errors">Upload error messages</a></li>
        <li>Notifications error messages</li>
{#         <li><a href="/v1/notifications-errors">Notifications error messages</a></li> #}
      </ul>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}

{% block footer %}
{% endblock %}